body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

#introduceContainer {
    position: absolute;
    width: 100%;
    height: 100vh;
}

#backgroundContainer
{
    position: absolute;
    width: calc(100% - 260px);
    height: 100vh;
    background-color: rgba(128, 128, 128, 0.8);
    margin-left: 260px;
    overflow: hidden;
    z-index: 2;
    cursor: pointer;
}

#introduceContent > img
{
    position: absolute;
    top: 20%;
    left: 25%;
    width: 455px;
    height: 459px;
    z-index: 10;
}

.introduceTextBox
{
    width: 375px;
    height: 432px;
    position: absolute;
    top: 25%;
    right: 14%;
    z-index: 100;
    font-family: "Roboto";
}

.introduceTextBox > h2
{
    margin: 0;
}

.introduceTextBox > p
{
    text-align: justify;
    font-size: 21px;
    font-family: "나눔바른고딕";
    line-height: 1.5;
}

a 
{
    text-decoration: none;
}

#allContainer
{
    display: inline-block;
    padding: 0px 160px 0px 430px;
    text-align: center;
}

#asideNavContainer
{
    position: fixed;
    top:0;
    left: 0;
    margin: 0px;
    width: 260px;
    height: 100vh;
    border: solid 1px #707070;
    background-color: #030135;
}

.activityBoxContainer
{
    width: 900px;
    height: 430px;
    position: relative;
}

.activityBoxContainer > article > div {
    cursor: pointer;
}

.activityBoxContainer > .activityTopBox
{
    height: 200px;
    width: 660px;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.activityBoxContainer > .activityBottomBox
{
    height: 200px;
    width: 660px;
    margin: 0 auto;
    display: flex;
    position: relative;
    margin-top: 25px;
}

.activityBoxContainer p {
    font-size: 20px !important;
}

.activityTopLeftBox
{
    width: 200px;
    height: 200px;
    margin: 10px 20px 0px 0px;
    background-color: #FFBC2D;
    border-radius: 50px 0px 0px 0px;
    position: relative;
}

.activityTopLeftBox > p
{
    font-size: 30px;
    color: white;
    font-family: "나눔스퀘어라운드";
    text-align: left;
}

.activityTopLeftBox > .iconBox
{
    border-radius: 50%;
    width: 65px;
    height: 65px;
    background-color: #FFD500;
    position: absolute;
    bottom: 5%;
    left: 5%;
    text-align: center;
}

.activityTopLeftBox > .iconBox > img
{
    width: 43px;
    height: 43px;
    position: absolute;
    top: 15%;
    left: 15%;
}

.topLeftBoxTopText
{
    margin: 15px 0px 0px 20px;
    padding-top: 15px;
}

.topLeftBoxBottomText
{
    margin: 5px 0px 0px 20px;
}

.activityTopCenterBox
{
    width: 200px;
    height: 200px;
    margin: 0px 10px 0px 10px;
    background-color: rgba(255, 109, 109, 0.500);
    position: relative;
}

.activityTopCenterBox > p
{
    font-size: 30px;
    color: white;
    font-family: "나눔스퀘어라운드";
    text-align: right;
}

.activityTopCenterBox > .iconBox
{
    border-radius: 50%;
    width: 65px;
    height: 65px;
    background-color:#FF396F;
    position: absolute;
    bottom: 33%;
    left: 33%;
}

.activityTopCenterBox > .iconBox > img
{
    width: 65px;
    height: 65px;
}

.topCenterBoxTopText
{
    margin: 15px 10px 0px 0px;
    padding-top: 15px;
}

.topCenterBoxBottomText
{
    margin: 5px 10px 0px 0px;
}

.activityTopRightBox
{
    width: 200px;
    height: 200px;
    margin: 0px 0px 0px 20px;
    background-color: #FF9F43;
    border-radius: 0px 50px 0px 0px;
    position: relative;
}

.activityTopRightBox > p
{
    font-size: 30px;
    color: white;
    font-family: "나눔스퀘어라운드";
    text-align: right;
    margin: 15px 20px 0px 0px;
    padding-top: 15px;
}

.activityTopRightBox > .iconBox
{
    border-radius: 50%;
    width: 65px;
    height: 65px;
    background-color:#FFCA4F;
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.activityTopRightBox > .iconBox > img
{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10%;
    right: 10%;
}

.activityBottomLeftBox
{
    width: 200px;
    height: 200px;
    margin: 0px 20px 0px 0px;
    background-color: #5F9DF9;
    border-radius: 0px 0px 0px 50px;
    position: relative;
}

.activityBottomLeftBox > p
{
    font-size: 30px;
    color: white;
    font-family: "나눔스퀘어라운드";
    text-align: left;
}

.activityBottomLeftBox > .iconBox
{
    border-radius: 50%;
    width: 65px;
    height: 65px;
    background-color:#5C7BA3;
    position: absolute;
    top: 5%;
    left: 5%;
}

.activityBottomLeftBox > .iconBox > img
{
    width: 47px;
    height: 47px;
    position: absolute;
    top: 10%;
    left: 15%;
}

.bottomLeftBoxTopText
{
    margin: 20px 0px 0px 20px;
    padding-top: 110px;
}

.bottomLeftBoxBottomText
{
    margin: 5px 0px 0px 20px;
}

.activityBottomCenterBox
{
    width: 200px;
    height: 200px;
    margin: 0px 10px 0px 10px;
    background-color: #CB25D1;
    position: relative;
}

.activityBottomCenterBox > p
{
    font-size: 30px;
    color: white;
    font-family: "나눔스퀘어라운드";
    text-align: center;
}

.activityBottomCenterBox > .iconBox
{
    border-radius: 50%;
    width: 65px;
    height: 65px;
    background-color:#FF4FAD;
    position: absolute;
    left: 35%;
    top: 20%;
}

.activityBottomCenterBox > .iconBox > img
{
    width: 55px;
    height: 55px;
}

.bottomCenterBoxTopText
{
    margin: 20px 0px 0px 0px;
    padding-top: 110px;
}

.bottomCenterBoxBottomText
{
    margin: 5px 0px 0px 0px;
}

.activityBottomRightBox
{
    width: 200px;
    height: 200px;
    margin: 0px 0px 0px 20px;
    background-color: #71D574;
    border-radius: 0px 0px 50px 0px;
    position: relative;
}

.activityBottomRightBox > p
{
    font-size: 30px;
    color: white;
    font-family: "나눔스퀘어라운드";
    text-align: right;
    margin: 20px 20px 0px 0px;
    padding-top: 140px;
}

.activityBottomRightBox > .iconBox
{
    border-radius: 50%;
    width: 65px;
    height: 65px;
    background-color:#3CA154;
    position: absolute;
    top: 5%;
    right: 5%;
}

.activityBottomRightBox > .iconBox > img
{
    width: 42px;
    height: 42px;
    position: absolute;
    top: 13%;
    right: 15%;
}

.topActivityText,.bottomActivityText
{
    height: 140px;
}

.sinabroLogo
{
    width: 260px;
    object-fit: contain;
    display: block;
    margin: 10px 0px 35px 0px;
}

.clubActiveList
{
    list-style: none;
    width:240px;
    opacity: 0.85;
    font-family: NotoSansKR;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: rgba(174, 174, 255, 0.767);
    padding: 0;
    margin: 0px 0px 40px 0px;
}

.clubActiveList > a
{
    text-decoration: none;
    color: rgba(174, 174, 255, 0.767);
}

.list
{
    margin-top: 5px;
    width : 238px;
    height: 22px;
    padding-top :3px;
    padding-left: 22px;
    font-size: 14px;
}

.list:hover
{
    background-color: rgba(60, 53, 255, 0.466);
    color:rgba(234, 234, 242, 0.932);
}

.clubActiveList > a > li.on
{
    background-color: rgba(60, 53, 255, 0.466);
    color:rgba(234, 234, 242, 0.932);
}

.clubActiveList > h3
{
    margin: 5px 0px 15px 0px;
    width : 238px;
    height: 22px;
    padding-left: 22px;
    font-size: 19px;
    color: rgba(230, 228, 231, 0.932);
}

.activityLogo
{
    border-radius: 36px;
    width: 400px;
    height: 100px;
    margin: 0px 250px 0px 250px;
    position: absolute;
    top: 36%;
    z-index: 1;
    background-color: white;
}

.activityLogo > img
{
    margin: 15px;
    width: 210px;
    height: 70px;
}