body{
    margin: 0px;
    padding: 0px;
    background-color: #8383f6;
}

.Logo{
    width: 200px;
    height: 55px;
    margin: 35px;
    display: inline-block;
}

.loginContainer{
    background-color: #f8f8f8f5;;
    position: relative;
    width: 380px;
    height: 510px;
    border: 1px solid rgba(138, 137, 137, 0.589);
    border-radius: 10px;
    text-align: center;
    margin: auto;
    padding: 0px;
}

.decorationButtons
{
    display: flex;
    margin: 10px;
}

.decorationButtons > div
{
    width: 12px;
    height: 12px;
    background-color: red;
    border-radius: 10px;
    margin-left: 5px;
}

.decorationButtons > div:nth-child(2)
{
    background-color: yellow;
}

.decorationButtons > div:nth-child(3)
{
    background-color: rgb(161, 224, 161);
}

.loginTitle{
    font-size: 28px;
    margin-top: 65px;
    color: rgb(180, 180, 253);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100px;
    margin-bottom: 0px;
}

#idBox{
    width: 250px;
    height: 50px;
    text-align: left;
    padding-left: 20px;
    margin:auto;
    border: 1.5px solid rgba(138, 137, 137, 0.342);
    margin-top: 30px;
    border-radius: 5px;
}

#pwBox{
    width: 250px;
    height: 50px;
    text-align: left;
    padding-left: 20px;
    margin:auto;
    border: 1.5px solid rgba(138, 137, 137, 0.342);
    margin-top: 20px;
    border-radius: 5px;
}

.loginButton{    
    width: 270px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin:auto;
    border: 1.5px solid rgba(138, 137, 137, 0.342);
    margin-top: 20px;
    border-radius: 3px;
    background-color: rgb(180, 180, 253);
    cursor: pointer;
    display: inline-block;
    font-family: "Noto Sans KR";
    color: rgba(128, 128, 128, 0.712);
    font-size: 17px;
}

.footerBox{
    width: 380px;
    height: 18px;
    position: absolute;
    margin: auto;
    margin-top: 20px;
    border-radius: 0px 0px 10px 10px;
    bottom: 0;
    padding: 0px;
    background-color: rgba(170, 159, 159, 0.336);
}

.footerText
{
    font-size: 11px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    color: white;
}

.box{
    margin: 0px;
    padding: 0px;
    margin: auto;
}