body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

header
{
    text-align: center;
}

header > h1
{
    margin: 0 auto;
}

#allContainer
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 260px;
    text-align: center;
    height: 100vh;
}

#dataSection > p
{
    width: 30vw;
    margin: 0 auto;
    font-size: 1.1rem;
}

#dataSection > .dataContentsContainer > img
{
    width: 400px;
    height: 350px;
    margin: 50px;
}

#studySection
{
    display: inline-block;
    text-align: left;
}

header > hr
{
    text-align: center;
    width: 50px;
    background-color: #5956DD;
    border: 1px solid #5956DD;
}

.dataContentsContainer
{
    display: flex;
    justify-content: center;
} 

.searchInputContainer
{
    width: 240px;
    height: 33px;
    display: flex;
    align-items: center;
    border: 1px solid #707070;
    margin: 50px 0px 40px 956px;
}

.searchInputContainer > img
{
    opacity: 0.5;
    width: 23px;
    height: 23px;
    cursor: pointer;
}

.searchInputBox
{
    padding: 5px;
    width: 200px;
    border: none;
}

.contentsContainer
{
    width: 880px;
    height: 150px;
    border-bottom: 1px solid #707070;
}

.contentsContainer > h3:hover
{
    cursor: pointer;
    text-decoration: underline;
}

.contentsContainer > p:hover
{
    cursor: pointer;
    text-decoration: underline;
}

@media all and (max-width: 1224px) {
    #allContainer
    {
        padding-left: 210px;
    }
    .dataContentsContainer
    {
        display: block;
    }
    #dataSection > .dataContentsContainer > img
    {
        margin: 0px;
    }
    .contentsContainer
    {
        width: 60vw;
    }
}

@media all and (max-width: 1500px) {
    .searchInputContainer
    {
       margin: 30px 0px;
       float: right;
    }
}

@media all and (max-height: 800px) {
    #dataSection > p
    {
        display: none;
    }
    header
    {
        display: none;
    }
}