body{
    margin: 0;
    padding: 0;
    height: 100vh;
}

#asideNavContainer
{
    width: 260px;
    height: 100vh;
    border: solid 1px #707070;
    background-color: #030135;
}

.sinabroLogo
{
    width: 260px;
    object-fit: contain;
    display: block;
    margin: 10px 0px 35px 0px;
}

.clubActiveList
{
    list-style: none;
    width:240px;
    opacity: 0.85;
    font-family: NotoSansKR;
    font-size: 15px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    text-align: left;
    color: rgba(174, 174, 255, 0.767);
    padding: 0;
    margin: 0px 0px 40px 0px;
}

.clubActiveList > a
{
    text-decoration: none;
    color: rgba(174, 174, 255, 0.767);
}

.clubActiveList > a > li
{
    margin-top: 5px;
    width : 238px;
    height: 22px;
    padding-top :3px;
    padding-left: 22px;
    font-size: 14px;
}

.clubActiveList > a > li:hover
{
    background-color: rgba(60, 53, 255, 0.466);
    color:rgba(234, 234, 242, 0.932);
}

.clubActiveList > a > li:visited
{
    background-color: rgba(60, 53, 255, 0.466);
    color:rgba(234, 234, 242, 0.932);
}

.clubActiveList > h3
{
    margin: 5px 0px 15px 0px;
    width : 238px;
    height: 22px;
    padding-left: 22px;
    color: rgba(230, 228, 231, 0.932);
    font-size: 19px;
}